@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --primaryColor: #1e90ff;
  --secondaryColor: #ffa500;
  --inputButtonColor: #2cbfa4;
}

header {
  background-color: #222930;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.container {
  width: 1080px;
}

.user-menu {
  text-align: center;
}

.subtitle {
  margin-top: 8px;
}

.user-menu__list {
  margin-top: 15px;
}

ul li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5%;
}

#register {
  background-color: var(--primaryColor);
}

#login {
  background-color: var(--secondaryColor);
}

.user-menu-form {
  margin-top: 8px;
  position: absolute;
  width: 25px;
  left: calc(50vw - 25vh / 2);
  display: block;
}

.input-button {
  background-color: var(--inputButtonColor);
  border: none;
  padding: 5px 30px;
  color: #fff;
  margin-top: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  background-color: #222930;
}

.copy {
  color: #fff;
  font-weight: normal;
  text-align: center;
}
